{% extends "base.html" %}

{% block content %}

<h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>

{% if is_editor %}
<form method="post">
    <div class="row">
        <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">

        <div class="col-md-6 mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" name="title" id="title" class="form-control" value="{{ page.title or ''}}">
        </div>

        <div class="col-md-6 mb-3">
            <label for="description" class="form-label">Descrição</label>
            <input type="text" name="description" id="description" class="form-control" value="{{ page.description or ''}}">
        </div>

        <div class="col-md-6 mb-3">
            <label for="route_id" class="col-md-6">Rota</label>
            <select name="route_id" id="route_id" class="form-select">
                {% for route in routes %}
                <option value="{{ route.id }}" {{ 'selected' if route.id == page.route.id else '' }}>{{ route.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-6 mb-3">
            <label for="category_page_id" class="col-md-6">Categoria</label>
            <select name="category_page_id" id="category_page_id" class="form-select">
                {% for category_page in category_pages %}
                <option value="{{ category_page.id }}" {{ 'selected' if category_page.id == page.category_page.id else '' }}>{{ category_page.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-6 mb-3">
            <input type="checkbox" name="appear_navbar" id="appear_navbar" {{ 'checked' if page.appear_navbar else '' }}>
            <label for="appear_navbar">Aparece na Barra de Navegação</label>
        </div>

        <button class="btn btn-primary text-center" type="submit" name="action">
            Editar Página
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
</form>

{% else %}
<div class="table-wrapper">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Rota</th>
                <th>Categoria</th>
                <th>Aparece em NavBar</th>
                <th>Editar Página</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.description }}</td>
                <td>
                    {{ page.route.name }} 
                    <!-- <hr> 
                    Acesso: [<a href="{{ url_for( page.route.endpoint ) }}">{{ page.route.endpoint }}</a>] 
                    <hr>  -->
                    (<a href="{{ url_for('routes', route_id=page.route.id) }}">Editar</a>)</td>
                <td>{{ page.category_page.name }} - (<a href="{{ url_for('category_pages', page_id=page.category_page.id) }}">Editar</a>)</td>
                <td>{{ 'Sim' if page.appear_navbar else 'Não' }}</td>
                <td><a href="{{ url_for( g.current_endpoint.endpoint, page_id=page.id )}}" class="btn btn-primary btn-sm"><i class="fas fa-gear"></i></a></td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endif %}

{% endblock content %}