{% extends 'base.html' %}

{% block content %}
<h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>

{% set is_editor = request.args.get('action') == 'edit' %}
{% set is_add = request.args.get('action') == 'add' %}

{% if is_editor %}
<form method="post" class="needs-validation" novalidate>
    <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">

    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nome" value="{{ role.name }}"
            required>
        <div class="invalid-feedback">
            Por favor, insira um nome.
        </div>
    </div>

    <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Descrição"
            value="{{ role.description }}" required>
        <div class="invalid-feedback">
            Por favor, insira uma descrição.
        </div>
    </div>

    <div class="form-group">
        <label for="allowed_routes">Rotas Permitidas</label>
        <div class="row">
            {% for route_id, route in routes.items() %}
            <div class="col-md-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="route-{{ route_id }}" name="allowed_routes[]"
                        value="{{ route.id }}" {% if route.id in role.allowed_routes %}checked{% endif %}>
                    <label class="form-check-label" for="route-{{ route_id }}">{{ route.name }}</label>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <button class="btn btn-primary" type="submit" name="action">
        Editar Cargo
        <i class="fas fa-paper-plane"></i>
    </button>

    <a href="{{ url_for(g.current_endpoint.endpoint, action='view') }}" class="btn btn-secondary">
        Voltar à Lista de Cargos
    </a>
</form>
{% elif is_add %}

<form method="post" class="needs-validation" novalidate>
    <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">

    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nome" required>
        <div class="invalid-feedback">
            Por favor, insira um nome para o Cargo.
        </div>
    </div>

    <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Descrição" required>
        <div class="invalid-feedback">
            Por favor, insira uma descrição para o Cargo.
        </div>
    </div>

    <div class="form-group">
        <label for="allowed_routes">Rotas Permitidas</label>
        <div class="row">
            {% for route_id, route in routes.items() %}
            <div class="col-md-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="route-{{ route_id }}" name="allowed_routes[]"
                        value="{{ route.id }}">
                    <label class="form-check-label" for="route-{{ route_id }}">{{ route.name }}</label>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <button class="btn btn-primary" type="submit" name="action">
        Adicionar Cargo
        <i class="fas fa-paper-plane"></i>
    </button>

    <a href="{{ url_for(g.current_endpoint.endpoint, action='view') }}" class="btn btn-secondary">
        Voltar à Lista de Cargos
    </a>
</form>


{% else %}
<div class="text-center">
    <a href="{{ url_for(g.current_endpoint.endpoint, action='add') }}" class="btn btn-success btn-sm tooltiped"
        data-bs-placement="bottom" data-bs-toggle="tooltip" title="Adicionar Cargo">
        <i class="fas fa-plus"></i>
        Adicionar Cargo
    </a>
</div>

<div class="table-wrapper">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cargo</th>
                <th>Rotas Permitidas</th>
                <th>Descrição</th>
                <th>Última Atualização</th>
                <th>Editar</th>
                <th>Apagar</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>
                    {% for route in role.allowed_routes %}
                    <a href="{{ url_for('routes', route_id=route.id)}}">
                        <button class="btn btn-outline-success btn-sm tooltiped" data-bs-placement="bottom"
                            data-bs-toggle="tooltip" title="{{ route.endpoint }}">
                            {{ route.name }}
                        </button>
                    </a>
                    {% endfor %}
                </td>
                <td>{{ role.description }}</td>
                <td>{{ role.updated_at.strftime("%d/%m/%Y às %H:%M:%S") }}</td>
                <td>
                    <a href="{{ url_for(g.current_endpoint.endpoint, role_id=role.id, action='edit') }}"
                        class="btn btn-primary btn-sm tooltiped" data-bs-placement="bottom" data-bs-toggle="tooltip"
                        title="Editar Cargo">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for(g.current_endpoint.endpoint, role_id=role.id, action='delete') }}"
                        class="btn btn-danger btn-sm tooltiped" data-bs-placement="bottom" data-bs-toggle="tooltip"
                        title="Apagar Cargo">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}