{% macro render_pagination(pagination, endpoint) %}
{% set args_without_page_per_page = request.args.copy() %}
{% set _ = args_without_page_per_page.pop('page', None) %}
{% set _ = args_without_page_per_page.pop('per_page', None) %}

<nav class="d-flex justify-content-center mt-4">
    <ul class="pagination">
        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=1, per_page=pagination.per_page, **args_without_page_per_page) }}">Primeiro</a>
        </li>
        {% if pagination.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num, per_page=pagination.per_page, **args_without_page_per_page) }}">Anterior</a>
        </li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page == pagination.page %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, page=page, per_page=pagination.per_page, **args_without_page_per_page) }}">{{ page }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num, per_page=pagination.per_page, **args_without_page_per_page) }}">Próximo</a>
        </li>
        {% endif %}
        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.pages, **args_without_page_per_page) }}">Último</a>
        </li>
    </ul>
</nav>
{% endmacro %}