{% extends "base.html" %}

{% block content %}
<h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>

<div class="table-wrapper">
    <a href="{{ url_for('export_to_excel_api', result_id=result_id) }}" class="btn btn-primary tooltiped" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Exportar para Excel">Download</a>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Cargo</th>
                <th>Saldo Devedor</th>
                <th>Saldo</th>
                <th>Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }} (<a href="{{ url_for('profile', user_id=user.id) }}">Perfil</a>)</td>
                <td>{{ user.role.name }} ({{ user.role.id }})</td>
                <td>R$ {{ user.balance_payroll }}</td>
                <td>R$ {{ user.balance }}</td>
                <td>{{ user.added_at.strftime('%d/%m/%Y às %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}