{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>

        <form method="get">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="start_date" class="form-label">Data Inicial</label>
                        <input type="text" class="form-control datepicker" id="start_date" name="start_date"
                            value="{{ request.args.get('start_date', '')}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="end_date" class="form-label">Data Final</label>
                        <input type="text" class="form-control datepicker" id="end_date" name="end_date"
                            value="{{ request.args.get('end_date', '')}}">
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary" type="submit">
                        Filtrar
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>

        <hr>

        <h3>
            Resultados
        </h3>

        <div class="table-wrapper" style="overflow:auto; height: 60vh;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Afiliado</th>
                        <th>Valor</th>
                        <th>Data / Hora</th>
                        <th>Liberado Por</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>
                            {{ result.affiliation.affiliated.name }}
                            (<a href="{{ url_for('profile', user_id=result.affiliation.affiliated.id) }}">{{ result.affiliation.affiliated.username
                                }}</a>)
                        </td>
                        <td>R$ {{ result.value }}</td>
                        <td>{{ result.added_at }}</td>
                        <td>
                            {{ result.allowed_by_user.name }}
                            (<a href="{{ url_for('profile', user_id=result.allowed_by_user.id) }}">{{
                                result.allowed_by_user.username
                                }}</a>)
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">Nenhum Resultado Encontrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {{ pagination.info|safe }}
            {{ pagination.links|safe }}
        </div>
    </div>
    <div class="col-md-3 sticky-action">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Saldo Devedor</h5>
                <p class="card-text">R$ {{ session["user"].balance_payroll }}</p>
            </div>
        </div>
        <div class="card-action">
            <a class="btn btn-success" href="{{ url_for('pay_payroll') }}">
                <i class="fas fa-money-bill-wave"></i>
                Pagar
            </a>
        </div>
    </div>
</div>
{% endblock content %}
