{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." id="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="products">
                <div class="card">
                    <div class="card-header">
                        <h3>Produtos</h3>
                    </div>
                    <div class="card-body" style="height: 400px; overflow-y: auto;">
                        <ul class="list-group" id="products-list">
                            {% for product in products %}

                            <li class="list-group-item">
                                <button class="btn btn-success btn-sm" onclick="addToCart({{ product.id }})">
                                    R$ {{ product.value }} <i class="fas fa-shopping-cart"></i>
                                </button>
                                {{ product.name }}
                                <div class="badge border border-dark bg-light text-dark">
                                    <div id="product-quantity-{{product.id}}-row">
                                        {{product.quantity}}
                                    </div> restantes
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sticky-top">
                <div class="card">
                    <div class="card-header">
                        <h3>Carrinho <span id="cart-count">{{ session.cart|length }}</span></h3>
                    </div>
                    <ul class="list-group list-group-flush" id="cart-list">
                        <li class="list-group-item font-weight-bold">
                            Total: R$ <span id="cart-total">{{ (session.cart|sum(attribute='value'))|round(2, 'floor')
                                or 0 }}</span>
                        </li>
                        {% for item in session.cart %}
                        <li class="list-group-item" id="cart-item-{{ item.id }}">
                            <button class="btn btn-danger btn-sm"
                                onclick="removeFromCart({{ item.id }}, 'cart-item-{{ item.id }}')">
                                R$ {{ item.value }} <i class="fas fa-trash"></i>
                            </button>
                            {{ item.name }}
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer">
                        <a href="{{ url_for('confirm_purchase') }}">
                            <button class="btn btn-success btn-block">Confirmar Compra</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    const searchInput = document.getElementById('search');
    const searchBtn = document.getElementById('search-btn');
    const productsList = document.getElementById('products-list');
    const cartList = document.getElementById('cart-list');
    const cartCount = document.getElementById('cart-count');
    const cartTotal = document.getElementById('cart-total');

    searchInput.addEventListener('input', function () {
        const query = searchInput.value.toLowerCase();
        filterProducts(query);
    });

    function filterProducts(query) {

        for (let product of productsList.getElementsByTagName('li')) {
            if (product.innerText.toLowerCase().includes(query)) {
                product.style.display = '';
            } else {
                product.style.display = 'none';
            }
        };
    }

    function addToCart(productId) {
        const urlAddToCart = "{{ url_for('add_to_cart_api') }}";

        fetch(urlAddToCart, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                '{{ config["CSRF_HEADER_NAME"] }}': '{{ csrf_token() }}'
            },
            body: JSON.stringify({
                id: productId,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.ok) {
                    var listItem = document.createElement('li');
                    listItem.className = 'list-group-item';
                    listItem.id = `cart-item-${data.product.id}-${cartCount.innerText}`;
                    listItem.innerHTML = `
                    <button class="btn btn-danger btn-sm" onclick="removeFromCart(${data.product.id}, 'cart-item-${data.product.id}-${cartCount.innerText}')">
                        R$ ${data.product.value} <i class="fas fa-trash"></i>
                    </button>
                    ${data.product.name}
                `;
                    cartList.appendChild(listItem);
                    cartCount.innerText = parseInt(cartCount.innerText) + 1;
                    cartTotal.innerText = parseFloat(cartTotal.innerText) + parseFloat(data.product.value);
                    var quantityTag = document.getElementById(`product-quantity-${data.product.id}-row`);
                    quantityTag.innerText = data.product.quantity;
                    toastr.success(data.message);
                } else {
                    toastr.error(data.message);
                }
            })
            .catch(error => {
                toastr.error('Erro ao adicionar ao carrinho: ' + error.message);
            });
    }

    function removeFromCart(productId, cartItemId) {
        const urlRemoveFromCart = "{{ url_for('remove_from_cart_api') }}";

        fetch(urlRemoveFromCart, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                '{{ config["CSRF_HEADER_NAME"] }}': '{{ csrf_token() }}'
            },
            body: JSON.stringify({
                id: productId
            })
        })
            .then(response => response.json())
            .then(data => {
                var listItem = document.getElementById(cartItemId);
                listItem.remove();

                cartCount.innerText = parseInt(cartCount.innerText) - 1;
                cartTotal.innerText = parseFloat(cartTotal.innerText) - parseFloat(data.product.value);
                var quantityTag = document.getElementById(`product-quantity-${data.product.id}-row`);
                quantityTag.innerText = data.product.quantity;
                toastr.success(data.message);
            })
            .catch(error => {
                toastr.error('Erro ao remover do carrinho: ' + error.message);
            })
    }
</script>

{% endblock scripts %}