{% extends "base.html" %} {% block content %}
<div class="container">
  <h3 class="text-center mt-4">
    {% block title %}{{ g.current_endpoint.name }}{% endblock title %}
  </h3>

  <!-- Botão Voltar explícito no canto superior esquerdo -->
  <div class="text-start mb-3">
    <a href="{{ url_for('cantina') }}" class="btn btn-outline-secondary">
      <i class="fas fa-arrow-left"></i> Voltar para a Cantina
    </a>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive" style="max-height: 50vh; overflow-y: auto">
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            {% for product in session.cart %}
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>R$ {{ product.value }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <h5 class="text-end mt-3">
        Total: R$ {{ (session.cart|sum(attribute='value'))|round(2, 'floor') }}
      </h5>
    </div>
  </div>

  <form
    class="col-md-6 offset-md-3"
    method="POST"
    action="{{ url_for('confirm_purchase') }}"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="matricula" class="form-label"
        ><i class="fas fa-id-card me-2"></i>Número de Matrícula ou ID</label
      >
      <input
        type="text"
        class="form-control"
        id="matricula"
        name="matricula"
        placeholder="Número de Matrícula ou ID"
        required
      />
      <!-- value="{{ session.user.id }}" -->
    </div>

    <div class="mb-3">
      <label for="password" class="form-label"
        ><i class="fas fa-lock me-2"></i>Senha</label
      >
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        placeholder="Senha"
      />
    </div>

    <input
      type="hidden"
      name="{{ config['CSRF_COOKIE_NAME'] }}"
      value="{{ csrf_token() }}"
    />

    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit" id="confirmButton">
        <i class="fas fa-check-circle"></i> Comprar!
      </button>
    </div>
  </form>
</div>
{% endblock content %} {% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const confirmButton = document.getElementById("confirmButton")
    confirmButton.addEventListener("click", function () {
      confirmButton.disabled = true
      confirmButton.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Processando...'
      document.querySelector("form").submit()
    })
  })
</script>
{% endblock scripts %}
