{% extends "base.html" %}

{% block content %}
<h3>{% block title %}Editar produto {{ product.id }}{% endblock title %}</h3>

<form method="post">
    <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">

    <div class="row">
        <div class="input-field col s6">
            <input type="text" name="nome" id="nome" value="{{ product.nome or '-' }}">
            <label for="nome">Nome</label>
        </div>

        <div class="input-field col s6">
            <input type="text" name="descricao" id="descricao" value="{{ product.descricao or '-' }}">
            <label for="descricao">Descrição</label>
        </div>

        <div class="input-field col s4">
            <input type="number" name="valor" id="valor" value="{{ product.valor or '0' }}" min="0" step="0.01">
            <label for="valor">Valor (R$)</label>
        </div>

        <div class="input-field col s4">
            <input type="text" name="tipo" id="tipo" value="{{ product.tipo or '-' }}">
            <label for="tipo">Tipo</label>
        </div>

        <div class="input-field col s4">
            <input type="number" name="quantidade" id="quantidade" value="{{ product.quantidade or '0' }}" min="0"
                step="1">
            <label for="quantidade">Quantidade</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
        Editar Produto
        <i class="material-icons right">send</i>
    </button>
</form>

{% endblock %}