{% extends "base.html" %}

{% block content %}
<h3 class="text-center">{% block title %}Editar produto {{ product.id }}{% endblock title %}</h3>

<form method="post">
    <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" value="{{ product.nome or '-' }}">
        </div>

        <div class="col-md-6 mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" name="descricao" id="descricao" class="form-control"
                value="{{ product.descricao or '-' }}">
        </div>

        <div class="col-md-4 mb-3">
            <label for="valor" class="form-label">Valor (R$)</label>
            <input type="number" name="valor" id="valor" class="form-control" value="{{ product.valor or '0' }}" min="0"
                step="0.01">
        </div>

        <div class="col-md-4 mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <input type="text" name="tipo" id="tipo" class="form-control" value="{{ product.tipo or '-' }}">
        </div>

        <div class="col-md-4 mb-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input type="number" name="quantidade" id="quantidade" class="form-control"
                value="{{ product.quantidade or '0' }}" min="0" step="1">
        </div>

        <div class="col-md-4 mb-3">
            <label for="motivo" class="form-label">Motivo</label>
            <input type="text" name="motivo" id="motivo" class="form-control" required>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" name="action">
        Editar Produto
        <i class="fas fa-paper-plane"></i>
    </button>
</form>
{% endblock %}