{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>

    <form action="{{ url_for('edit_profile', user_id=user.id ) }}" method="post">
        <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="username" class="form-label">Usuário</label>
                    <input id="username" type="text" class="form-control" name="username"
                        value="{{ user.username if user.username else '' }}">
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input id="name" type="text" class="form-control" name="name"
                        value="{{ user.name if user.name else '' }}">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="email" class="form-control" name="email"
                        value="{{ user.email if user.email else '' }}">
                </div>

                <div class="mb-3">
                    <label for="telephone" class="form-label">Telefone</label>
                    <input id="telephone" type="text" class="form-control" name="telephone"
                        value="{{ user.telephone if user.telephone else '' }}">
                </div>

                <div class="mb-3">
                    <label for="serie" class="form-label">Série</label>
                    <select id="serie" name="serie" class="form-select">
                        <option value="" disabled selected>Série</option>
                        {% for serie in series %}
                        <option value="{{ loop.index0 }}" {% if serie == user.serie %}selected{% endif %}>{{ serie }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="role" class="form-label">Cargo</label>
                    <select id="role" name="role_id" class="form-select" required>
                        <option value="" disabled selected>Cargo</option>
                        {% for role in roles %}
                        <option value="{{ role.id }}" {% if role.name == user.role.name %}selected{% endif %}>{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="matricula" class="form-label">Matrícula</label>
                    <input type="text" class="form-control" name="matricula" id="matricula"
                        value="{{ user.matricula if user.matricula else '' }}">
                </div>

                <div class="mb-3">
                    <label for="turm" class="form-label">Turma</label>
                    <input id="turm" type="text" class="form-control" name="turm"
                        value="{{ user.turm if user.turm else '' }}">
                </div>

                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input id="cpf" type="text" class="form-control" name="cpf"
                        value="{{ user.cpf if user.cpf else '' }}">
                </div>

                <div class="mb-3">
                    <label for="motivo" class="form-label">Motivo da Edição</label>
                    <input type="text" class="form-control" name="motivo" id="motivo" required>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <button class="btn btn-primary btn-icon" type="submit" name="action">
                    <i class="fas fa-user-edit"></i> Editar Perfil
                </button>
            </div>

            <div class="col-md-6">
                <a href="{{ url_for('edit_password', user_id=user.id) }}" class="btn btn-secondary btn-icon">
                    <i class="fas fa-lock"></i> Editar Senha
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
