{% extends "base.html" %}
{% block title %}Editar Senha{% endblock %}
{% block content %}
<div class="container">
  <h5>Editar Senha de {{ user['name'] }}</h5>
  <form method="POST" action="{{ url_for('edit_password', user_id=user['id']) }}">
    {% if session.user.role != 'admin' %}
    <div class="row">
      <div class="input-field col s12">
        <input id="old_password" type="password" name="old_password" required>
        <label for="old_password">Senha Antiga</label>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="input-field col s12">
        <input id="new_password" type="password" name="new_password" required>
        <label id="new_password_label" for="new_password">Nova Senha</label>
        <button class="btn waves-effect waves-light" type="button" onclick="generateRandomPassword()">Senha
          Aleatória</button>
        <button class="btn waves-effect waves-light" type="button" onclick="viewPassword()"><i
            class="material-icons">remove_red_eye</i></button>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="submit" value="Salvar" class="btn">
      </div>
    </div>
    <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  function generateRandomPassword() {
        let randomPassword = '';
        const possibleChars = 'abcdefghijklmnopqrstuvwxyz0123456789';
        for (let i = 0; i < 8; i++) {
            randomPassword += possibleChars[Math.floor(Math.random() * possibleChars.length)];
        }
        document.getElementById("new_password").value = randomPassword;
        document.getElementById("new_password_label").classList.add("active");
    }

  function viewPassword() {
    let passwordTag = document.getElementById("new_password");
    passwordTag.type = passwordTag.type === 'password' ? 'text' : 'password';
  }
</script>
{% endblock %}