{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
<h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>

<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <input type="text" name="editado_por" id="editado_por" class="form-control"
                    value="{{ request.args.get('editado_por', '') }}">
                <label for="editado_por">Editado por</label>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <input type="text" name="usuario" id="usuario" class="form-control"
                    value="{{ request.args.get('usuario', '') }}">
                <label for="usuario">Usuário</label>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <select name="ordenar_por" id="ordenar_por" class="form-select">
                    <option value="" disabled {{ 'selected' if not request.args.get('ordenar_por') }}>Ordenar Por
                    </option>
                    <option value="added_at" {{ 'selected' if request.args.get('ordenar_por')=='added_at' }}>Data e Hora
                    </option>
                    <option value="edited_by" {{ 'selected' if request.args.get('ordenar_por')=='edited_by' }}>Editado
                        por</option>
                    <option value="user_id" {{ 'selected' if request.args.get('ordenar_por')=='user_id' }}>Usuário
                    </option>
                    <option value="reason" {{ 'selected' if request.args.get('ordenar_por')=='reason' }}>Motivo</option>
                    <option value="id" {{ 'selected' if request.args.get('ordenar_por')=='id' }}>ID</option>
                </select>
                <label for="ordenar_por">Ordenar por</label>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <select name="ordenacao" id="ordenacao" class="form-select">
                    <option value="" disabled {{ 'selected' if not request.args.get('ordenacao') }}>Ordenação</option>
                    <option value="ASC" {{ 'selected' if request.args.get('ordenacao')=='ASC' }}>Crescente</option>
                    <option value="DESC" {{ 'selected' if request.args.get('ordenacao')=='DESC' }}>Decrescente</option>
                </select>
                <label for="ordenacao">Ordenação</label>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <input type="text" id="data_inicial" name="data_inicial" class="datepicker form-control"
                    value="{{ request.args.get('data_inicial', '')}}">
                <label for="data_inicial">Data Inicial</label>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="form-floating">
                <input type="text" id="data_final" name="data_final" class="datepicker form-control"
                    value="{{ request.args.get('data_final', '')}}">
                <label for="data_final">Data Final</label>
            </div>
        </div>

        <div class="col-md-4 text-center align-self-end">
            <button class="btn btn-primary" type="submit" name="action">
                Pesquisar <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<div class="table-wrapper">
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Editado Por</th>
                <th>Usuário</th>
                <th>Chave</th>
                <th>Valor Antigo</th>
                <th>Valor Novo</th>
                <th>Motivo</th>
                <th>Data e Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.id }}</td>
                <td><a href="{{ url_for('profile', user_id=result.edited_by) }}">{{ result.edited_by_user.name }}</a>
                </td>
                <td><a href="{{ url_for('profile', user_id=result.user.id) }}">{{ result.user.name }}</a></td>
                <td>{{ result.key }}</td>
                <td>{{ result.old_value }}</td>
                <td>{{ result.new_value }}</td>
                <td>{{ result.reason }}</td>
                <td>{{ result.formatted_added_at }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">Nenhum Resultado Encontrado</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pagination container text-center mt-3">
    {{ macros.render_pagination(pagination, request.endpoint) }}
</div>
{% endblock content %}