{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-center">
        {% block title %}
        Home
        {% endblock title %}
    </h3>

    <div class="row">
        {% for page in pages %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ page.title }}</h5>
                    <p class="card-text">{{ page.description }}</p>
                    <a href="{{ url_for(page.endpoint) }}" class="btn btn-primary">Ver mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
