{% extends "base.html" %}

{% block title %}
Vendas
{% endblock title %}

{% block content %}
<h4 class="center">Carrinho de Compras</h4>
<style>
    .product-list {
        max-height: 64vh;
        overflow-y: auto;
    }
</style>

<div class="input-field">
    <i class="material-icons prefix">search</i>
    <input type="text" id="product-search" oninput="searchProducts()" />
    <label for="product-search">Pesquisar produtos...</label>
</div>

<div class="product-list">
    <table class="striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Quantidade</th>
                <th>Adicionar ao Carrinho</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.nome }}</td>
                <td>R$ {{ product.valor }}</td>
                <td>{{ product.tipo }}</td>
                <td id="product-quantity-{{ product.id }}">{{ product.quantidade }}</td>
                <td>
                    <button class="btn btn-floating waves-effect waves-light center"
                        onclick="addToCart({{ product.id }})">
                        <i class="material-icons">add</i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="cart-container">
    <div class="row">
        <ul id="cart-list" class="collection with-header">
            <li class="collection-header">
                <h4>Carrinho - R$ <span id="cart-total">{{ (session.cart|sum(attribute='valor'))|round(2, 'floor')
                        }}</span></h4>
            </li>
            {% for product in session.cart %}
            <div class="col s4" id="cart-{{ product.id }}-{{ loop.index }}">
                <li class="collection-item">
                    <button class="btn tiny btn-floating waves-effect waves-light"
                        onclick="removeFromCart({{ product.id }}, 'cart-{{ product.id }}-{{ loop.index }}')">
                        <i class="material-icons red">remove</i>
                    </button>
                    <span style="margin-left: 5px;">{{ product.nome }}</span>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ url_for('confirm_purchase') }}" class="btn">Confirmar Compra</a>
</div>
{% endblock content %}

{% block scripts %}
<script>
    function searchProducts() {
        var query = document.getElementById('product-search').value;
        var urlSearchProducts = "{{ url_for('search_products') }}";

        fetch(urlSearchProducts, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                query: query
            })
        })
            .then(response => response.json())
            .then(data => {
                var productTableBody = document.querySelector('.product-list tbody');
                productTableBody.innerHTML = '';
                // data is a list
                data.forEach(product => {
                    var row = document.createElement("tr");
                    row.innerHTML = `
                        <tr>
                            <td>${product.id}</td>
                            <td>${product.nome}</td>
                            <td>${product.valor}</td>
                            <td>${product.tipo}</td>
                            <td id="product-quantity-${product.id}">${product.quantidade}</td>
                            <td>
                                <button class="btn btn-floating waves-effect waves-light center" onclick="addToCart(${product.id})">
                                    <i class="material-icons">add</i>
                                </button>
                            </td>
                        </tr>
                    `;
                    productTableBody.appendChild(row);
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    function addToCart(id) {
        var urlAddToCart = "{{ url_for('add_to_cart') }}";

        fetch(urlAddToCart, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                id: id,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.ok) {
                    M.toast({ html: `${data.message}`, classes: 'custom-toast' });
                    var cartList = document.getElementById('cart-list');
                    var count = cartList.childElementCount;
                    var divItem = document.createElement('div');
                    divItem.className = "col s4";
                    divItem.id = `cart-${data.product.id}-${count}`;
                    divItem.innerHTML = `
                    <li class="collection-item">
                        <button class="btn tiny btn-floating waves-effect waves-light" onclick="removeFromCart(${data.product.id}, 'cart-${data.product.id}-${count}')">
                            <i class="material-icons red">remove</i>
                        </button>
                        <span style="margin-left: 5px;">${data.product.nome}</span>
                    </li>
                    `;
                    cartList.appendChild(divItem);

                    var totalSpan = document.getElementById('cart-total');
                    var total = parseFloat(totalSpan.innerText) + data.product.valor;
                    totalSpan.innerText = total.toFixed(2);

                    var quantidadeTag = document.getElementById(`product-quantity-${data.product.id}`);
                    quantidadeTag.innerText = data.product.quantidade;

                } else {
                    M.toast({ html: 'Algo deu errado.', classes: 'custom-toast' });
                }
            })
            .catch((error) => {
                console.error(error);
            });
    }

    function removeFromCart(id, cartId) {
        var urlRemoveFromCart = "{{ url_for('remove_from_cart') }}";

        fetch(urlRemoveFromCart, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                id: id,
            })
        })
            .then(response => response.json())
            .then(data => {
                M.toast({ html: `${data.message}`, classes: 'custom-toast' });
                document.getElementById(cartId).remove();

                var totalSpan = document.getElementById('cart-total');
                var total = parseFloat(totalSpan.innerText) - data.product.valor;
                totalSpan.innerText = total.toFixed(2);

                var quantidadeTag = document.getElementById(`product-quantity-${data.product.id}`);
                quantidadeTag.innerText = data.product.quantidade;
            })
            .catch((error) => {
                console.error(error);
            });
    }

    document.getElementById('product-search').addEventListener('keydown', function (e) {
        if (e.key == 'Enter' || e.keyCode == 13) {
            e.preventDefault();
            selectFirstProduct();
        }
    });

    function selectFirstProduct() {
        var productTableBody = document.querySelector('.product-list tbody');
        var firstProductRow = productTableBody.firstChild;
        if (firstProductRow) {
            var productId = firstProductRow.cells[0].innerText;
            addToCart(productId);
        }
    }

</script>
{% endblock scripts %}