{% extends 'base.html' %}

{% block title %}
Pagamento de Folha de Pagamento :D
{% endblock title %}

{% block content %}
<div class="container">
    <h4 class="text-center">Pagamento da Folha de Pagamento</h4>
    <form action="{{ url_for('pay_payroll') }}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="payment-method" class="form-label">Forma de Pagamento</label>
            <select name="payment-method" id="payment-method" class="form-select">
                <option value="" disabled selected>Escolha forma de Pagamento</option>
                <option value="pix">PIX</option>
                <option value="debit_card">Cartão de Débito</option>
                <option value="credit_card">Cartão de Crédito</option>
                <option value="cash">Espécie</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="payment-value" class="form-label">Valor (R$)</label>
            <input type="number" class="form-control" id="payment-value" name="payment-value" min="0" step="0.01"
                max="{{ session.user.saldo_payroll }}">
        </div>

        <div class="mb-3">
            <label for="obs" class="form-label">Observações</label>
            <input type="text" class="form-control" id="obs" name="obs">
        </div>

        <div class="mb-3" id="proof-container" style="display:none;">
            <label for="proof" class="form-label">Submeter Comprovante</label>
            <input type="file" class="form-control" name="proof" id="proof">
        </div>

        <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">

        <button id="submit-btn" class="btn btn-primary" type="submit" name="action">
            Pagar
            <i class="fas fa-paper-plane"></i>
        </button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let paymentMethodTag = document.getElementById('payment-method');
        let proofContainerTag = document.getElementById('proof-container');
        verify_proof = function () {
            if (paymentMethodTag.value === 'cash') {
                proofContainerTag.style.display = 'none';
            } else {
                proofContainerTag.style.display = 'block';
            }
        }
        verify_proof();

        paymentMethodTag.addEventListener('change', verify_proof);
    });
</script>
{% endblock scripts %}
