{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>
    <form action="{{ url_for('pay_payroll') }}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="payment-method" class="form-label">Forma de Pagamento</label>
            <select name="payment-method" id="payment-method" class="form-select">
                <option value="" disabled selected>Escolha forma de Pagamento</option>
                {% for payment_method in payment_methods %}
                <option value="{{ payment_method.id }}" data-need-proof="{{ payment_method.need_proof }}">{{ payment_method.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="payment-value" class="form-label">Valor (R$)</label>
            <input type="number" class="form-control" id="payment-value" name="payment-value" min="0" step="0.01"
                max="{{ session.user.balance_payroll }}">
        </div>

        <div class="mb-3">
            <label for="obs" class="form-label">Observações</label>
            <input type="text" class="form-control" id="obs" name="obs">
        </div>

        <div class="mb-3" id="proof-container" style="display:none;">
            <label for="proof" class="form-label">Submeter Comprovante</label>
            <input type="file" class="form-control" name="proof" id="proof">
        </div>

        <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">

        <button id="submit-btn" class="btn btn-primary" type="submit" name="action">
            Pagar
            <i class="fas fa-paper-plane"></i>
        </button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let paymentMethodTag = document.getElementById('payment-method');
        let proofContainerTag = document.getElementById('proof-container');
        let payment_methods_need_proof = [];
        for (let i = 0; i < paymentMethodTag.options.length; i++) {
            if (paymentMethodTag.options[i].getAttribute('data-need-proof') === 'True') {
                payment_methods_need_proof.push(paymentMethodTag.options[i].value);
            }
        }
        verify_proof = function () {
            if (paymentMethodTag.value in payment_methods_need_proof) {
                proofContainerTag.style.display = 'block';
            } else {
                proofContainerTag.style.display = 'none';
            }
        }
        verify_proof();

        paymentMethodTag.addEventListener('change', verify_proof);
    });
</script>
{% endblock scripts %}
