{% extends 'base.html' %}


{% block title %}
    Verificação de Pagamentos
{% endblock %}

{% block content %}
    <h4 class="center">Verificação de Pagamentos</h4>

    <div id="table-payments">
        <table class="striped centered">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Usuário</th>
                    <th>Valor</th>
                    <th>Aprovação</th>
                    <th>Comprovante</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Linhas vem aqui :D -->
            </tbody>
        </table>
    </div>

{% endblock %}


{% block scripts %}
<script>
    let urlGetPayments = '{{ url_for("get_payments") }}';
    let tableTag = document.getElementById("table-body");
    let approvePaymentHtml = `
        
    `;
    function getPayments(query) {
        fetch(urlGetPayments, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                '{{ config["CSRF_HEADER_NAME"] }}': '{{ csrf_token() }}'
            },
            body: JSON.stringify({
                query: query
            })
        })
        .then(response => response.json())
        .then(data => {
            M.toast({ html: 'Carregando dados...', classes: 'green-text'});
            data.forEach(payment => {
                // Payment can have this attrs: user.id, user.name, value, approved, id, proof_url
                let row = document.createElement('tr');
                tableTag.innerHTML = ''; // limpa as linhas atuais
                row.innerHTML = `
                    <td>${payment.user.id}</td>
                    <td>${payment.user.name}</td>
                    <td>R$ ${payment.valor}</td>
                    <td>
                        ${ payment.is_approved ? 'Já Aprovado'  : `
                            <a onclick="approvePayment(${payment.id});" class="btn btn-pulse green" id="${payment.id}">
                                <i class="material-icons">check</i>
                            </a>
                        `}
                    </td>
                    <td>
                        <a target="_blank" href="${payment.proof_url}">Comprovante</a>
                    </td>
                `;
                tableTag.appendChild(row); // adiciona a linha como elemento filho
            });
            M.toast({ html: 'Dados carregados com sucesso!', classes: 'green-text'});
        });
    }

    getPayments(''); // TODO: On content load.
</script>

{% endblock %}