{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h4 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock %}</h4>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h5 class="card-title">{{ user.name }}</h5>
                    {% for key, value in user.items() %}
                    {% if value != None %}
                    <p><strong>{{ key }}:</strong> <span class="text-primary">{{ value }}</span></p>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if 'edit_profile' in session['permissions'] or 'edit_password' in session['permissions'] %}
                <div class="col-md-3 d-flex justify-content-end align-items-center">
                    {% if 'edit_profile' in session['permissions'] %}
                    <a class="btn btn-primary btn-floating btn-sm tooltipped me-2" data-bs-placement="bottom"
                        title="Editar Perfil" href="{{ url_for('edit_profile', user_id=user.id) }}"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover">
                        <i class="fas fa-user-edit"></i>
                    </a>
                    {% endif %}
                    {% if 'edit_password' in session['permissions'] %}
                    <a class="btn btn-primary btn-floating btn-sm tooltipped" data-bs-placement="bottom"
                        title="Editar Senha" href="{{ url_for('edit_password', user_id=user.id) }}"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-trigger="hover">
                        <i class="fas fa-key"></i>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <h4 class="text-center mt-4">Transações</h4>
    <div class="row transactions" style="max-height:400px; overflow-y:auto;">
        {% for transaction in transactions %}
        <div class="col-md-4 mb-4">
            {% if transaction.transaction_type == 'input' and transaction.status == 'accepted' %}
            <div class="card bg-light text-success">
                <div class="card-body">
                    <h5 class="card-title">{{ transaction.paid_at }} - Entrada</h5>
                    <p>Tipo de pagamento: {{ transaction.payment_type }}</p>
                    <p>Valor: R$ {{ transaction.value }}</p>
                    <p>Liberado por: {{ transaction.allowed_by.name }}</p>
                    {% if transaction.is_payroll %}<p class="text-muted">*Referente ao pagamento de saldo devedor*</p>{% endif %}
                </div>
            </div>
            {% elif transaction.transaction_type == 'input' and transaction.status == 'to allow' %}
            <div class="card bg-light text-warning">
                <div class="card-body">
                    <h5 class="card-title">{{ transaction.added_at }} - Entrada Pendente</h5>
                    <p>Tipo de pagamento: {{ transaction.payment_type }}</p>
                    <p>Valor: R$ {{ transaction.value }}</p>
                    <p>Liberado por: Pendente</p>
                </div>
            </div>
            {% elif transaction.transaction_type == 'input' and transaction.status == 'rejected' %}
            <div class="card bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title">{{ transaction.added_at }} - Entrada Rejeitada</h5>
                    <p>Tipo de pagamento: {{ transaction.payment_type }}</p>
                    <p>Valor: R$ {{ transaction.value }}</p>
                    <p>Rejeitado por: {{ transaction.allowed_by.name }}</p>
                </div>
            </div>
            {% elif transaction.transaction_type == 'output' %}
            <div class="card bg-light text-danger">
                <div class="card-body">
                    <h5 class="card-title">{{ transaction.added_at }} - Saída</h5>
                    <p>Produto: {{ transaction.product.name }}</p>
                    <p>Valor: R$ {{ transaction.product.value }}</p>
                    <p>Vendido por: {{ transaction.sold_by.name }}</p>
                    <p>Despachado (?): {{ 'Sim' if transaction.status == 'dispatched' else 'Não' }}</p>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}