{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-center">
        {% block title %}{{ g.current_endpoint.name }}{% endblock title %}
      </h3>

      <form
        action="{{ url_for('recharge') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="payment-method" class="form-label">Forma de Pagamento</label>
          <select name="payment-method" id="payment-method" class="form-select" required>
            <option value="" disabled selected>Escolha uma opção</option>
            {% for payment_method in payment_methods %}
            <option
              value="{{ payment_method.id }}"
              need-proof="{{ payment_method.need_proof }}"
            >
              {{ payment_method.name }}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3 bg-light p-2 rounded">
          <label for="reload-value" class="form-label">Valor da Recarga</label>
          <div class="input-group">
            <span class="input-group-text">R$</span>
            <input
              type="number"
              class="form-control"
              id="reload-value"
              name="reload-value"
              min="0"
              step="0.01"
              required
            />
          </div>
        </div>

        <div class="mb-3 bg-light p-2 rounded">
          <label for="observations" class="form-label">Observações</label>
          <input type="text" class="form-control" id="observations" name="observations" />
        </div>

        <div class="mb-3 bg-light p-2 rounded" id="proof-container">
          <label for="proof" class="form-label">Comprovante de Pagamento</label>
          <input type="file" class="form-control" name="proof" id="proof" />
        </div>

        <div
          class="mb-3"
          style="display: {{'none' if session.user.role.id != 1 else 'block'}}"
        >
          <label for="target-id" class="form-label">Alvo da Recarga</label>
          <input
            type="text"
            class="form-control"
            id="target-id"
            name="target-id"
            placeholder="ID do Usuário"
            value="{{ request.args.get('target-id', session.user.id) }}"
          />
        </div>

        <input
          type="hidden"
          name="{{ config['CSRF_COOKIE_NAME'] }}"
          value="{{ csrf_token() }}"
        />

        <button
          id="submit-btn"
          class="btn btn-primary btn-icon-center"
          type="submit"
          name="action"
          onclick=""
        >
          Recarregar
          <i class="fas fa-paper-plane ms-2"></i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const confirmButton = document.getElementById("submit-btn")
    confirmButton.addEventListener("click", function () {
      confirmButton.disabled = true
      confirmButton.innerHTML = '<i class="fas fa-check-circle"></i> Processando...'
      document.querySelector("form").submit()
    })

    let paymentMethodTag = document.getElementById("payment-method")
    let proofContainerTag = document.getElementById("proof-container")
    let payment_methods_need_proof = []

    for (let i = 0; i < paymentMethodTag.options.length; i++) {
      if (paymentMethodTag.options[i].getAttribute("need-proof") === "True") {
        payment_methods_need_proof.push(paymentMethodTag.options[i].value)
      }
    }

    verify_proof_visualization = function () {
      let in_list = false
      payment_methods_need_proof.forEach((pay) => {
        if (paymentMethodTag.value === pay) {
          in_list = true
        }
      })

      if (!in_list) {
        proofContainerTag.style.display = "none"
      } else {
        proofContainerTag.style.display = "block"
      }
    }
    verify_proof_visualization()

    paymentMethodTag.addEventListener("change", verify_proof_visualization)
  })
</script>
{% endblock %}
