{% extends "base.html" %}

{% block additional_css %}
<style>
    /* CSS para tornar as linhas da tabela alternadamente escuras */
    .striped tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    .table-wrapper {
        border: 1px solid #000;
        padding: 20px;
        margin-top: 20px;
    }
</style>
{% endblock additional_css %}

{% block content %}
<h3 class="center-align">
    {% block title %}
    Histórico de Recargas
    {% endblock title %}
</h3>

<div class="row">
    <div class="col s12">
        <form method="get">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="allowed_by" id="allowed_by"
                        value="{{ request.args.get('allowed_by', '') }}">
                    <label for="allowed_by">Liberado por</label>
                </div>

                <div class="input-field col s6">
                    <input type="text" name="sold_for" id="sold_for" value="{{ request.args.get('sold_for', '') }}">
                    <label for="sold_for">Liberado para</label>
                </div>

                <div class="input-field col s6">
                    <select name="order_by" id="order_by">
                        <option value="" disabled {{ request.args.get('order_by') or 'selected' }}>Ordenar por</option>
                        <option value="data_hora" {{ 'selected' if request.args.get('order_by')=='data_hora' else '' }}>
                            Data e Hora</option>
                        <option value="tipo_pagamento" {{ 'selected' if request.args.get('order_by')=='tipo_pagamento'
                            else '' }}>
                            Tipo de Pagamento</option>
                        <option value="valor" {{ 'selected' if request.args.get('order_by')=='valor' else '' }}>Valor
                        </option>
                        <option value="descricao" {{ 'selected' if request.args.get('order_by')=='descricao' else '' }}>
                            Descrição</option>
                    </select>
                    <label for="order_by">Ordenar por</label>
                </div>

                <div class="input-field col s6">
                    <select name="order_mode" id="order_mode">
                        <option value="ASC" {{ 'selected' if request.args.get('order_mode')=='ASC' else '' }}>Crescente
                        </option>
                        <option value="DESC" {{ 'selected' if request.args.get('order_mode')=='DESC' else '' }}>
                            Decrescente</option>
                    </select>
                    <label for="order_mode">Ordem</label>
                </div>

                <div class="input-field col s6">
                    <input type="text" id="start_date" name="start_date" class="datepicker"
                        value="{{ request.args.get('start_date', '') }}">
                    <label for="start_date">Data Inicial</label>
                </div>

                <div class="input-field col s6">
                    <input type="text" id="end_date" name="end_date" class="datepicker"
                        value="{{ request.args.get('end_date', '') }}">
                    <label for="end_date">Data Final</label>
                </div>

                <div class="input-field col s6">
                    <select name="recharge_type" id="recharge_type">
                        {% for name, value in payment_types.items() %}
                        <option value="{{ name }}" {{ 'selected' if request.args.get( 'recharge_type' ) == name else ''
                            }}>{{ value }}</option>
                        {% endfor %}
                    </select>
                    <label for="recharge_type">Tipo de Recarga</label>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Pesquisar
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </form>
    </div>

    <div class="col s12">
        <h3>Resultados</h3>
        <a class="btn waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Exportar para Excel"
            href="{{ url_for('export_to_excel_api', result_id=result_id) }}">
            Download
            <i class="material-icons right">get_app</i>
        </a>

        <div class="table-wrapper" style="overflow:auto; height: 60vh;">
            <table class="striped centered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de Pagamento</th>
                        <th>Descrição</th>
                        <th>Data e Hora</th>
                        <th>Valor</th>
                        <th>Liberado por</th>
                        <th>Turno</th>
                        <th>Liberado para</th>
                        <th>Comprovante</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>{{ result.tipo_pagamento }}</td>
                        <td>{{ result.descricao }}</td>
                        <td>{{ result.data_hora }}</td>
                        <td>{{ result.valor }}</td>
                        <td>{{ result.liberado_por }}</td>
                        <td>{{ result.turno }}</td>
                        <td>{{ result.aluno_id }}</td>
                        <td>
                            {% if result.comprovante_url %}
                            <a href="{{ result.comprovante_url }}" class="btn" target="_blank">Comprovante</a>
                            {% else %}
                            Sem Comprovante
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="9">Nenhum Resultado Encontrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            {{ pagination.info|safe }}
            {{ pagination.links|safe }}
        </div>
    </div>
</div>

{% endblock content %}