{% extends 'base.html' %}

{% block title %}
Recarga de Crédito
{% endblock %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center">
    <div class="col-md-6">
        <h4 class="text-center">Recarga de Crédito</h4>
        <form action="{{ url_for('recharge') }}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="payment-method" class="form-label">Forma de Pagamento</label>
                <select name="payment-method" id="payment-method" class="form-select" required>
                    <option value="" disabled selected>Escolha uma opção</option>
                    <option value="pix">PIX</option>
                    <option value="debit_card">Cartão de Débito</option>
                    <option value="credit_card">Cartão de Crédito</option>
                    <option value="cash">Espécie</option>
                    <option value="payroll">Folha de Pagamento</option>
                </select>
            </div>

            <div class="mb-3 bg-light p-2 rounded">
                <label for="reload-value" class="form-label">Valor da Recarga</label>
                <div class="input-group">
                    <span class="input-group-text">R$</span>
                    <input type="number" class="form-control" id="reload-value" name="reload-value" min="0" step="0.01" required>
                </div>
            </div>

            <div class="mb-3 bg-light p-2 rounded">
                <label for="observations" class="form-label">Observações</label>
                <input type="text" class="form-control" id="observations" name="observations">
            </div>

            <div class="mb-3 bg-light p-2 rounded" id="proof-container">
                <label for="proof" class="form-label">Comprovante de Pagamento</label>
                <input type="file" class="form-control" name="proof" id="proof">
            </div>

            <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">

            <button id="submit-btn" class="btn btn-primary btn-icon-center" type="submit" name="action">
                Recarregar
                <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let paymentMethodTag = document.getElementById('payment-method');
        let proofContainerTag = document.getElementById('proof-container');

        verify_proof_visualization = function () {
            if (paymentMethodTag.value === 'cash' || paymentMethodTag.value === 'debit_card' || paymentMethodTag.value === 'credit_card') {
                proofContainerTag.style.display = 'none';
            } else {
                proofContainerTag.style.display = 'block';
            }
        }
        verify_proof_visualization();

        paymentMethodTag.addEventListener('change', verify_proof_visualization);
    });
</script>
{% endblock %}
