{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block additional_css %}
<style>
    /* CSS para tornar as linhas da tabela alternadamente escuras */
    .striped tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    /* CSS para adicionar uma divisória entre o formulário e as estatísticas */
    .form-divider {
        border-right: 1px solid #000;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .table-wrapper {
        border: 1px solid #000;
        padding: 20px;
        margin-top: 20px;
    }
</style>
{% endblock additional_css %}

{% block content %}
<h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>


<div class="row">
    <div class="col-md-7 form-divider">
        <form method="get">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" for="vendido_para">Vendido Para</label>
                    <input type="text" name="vendido_para" id="vendido_para"
                        value="{{ request.args.get('vendido_para', '') }}" class="form-control">
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="vendido_por">Vendido Por</label>
                    <input type="text" name="vendido_por" id="vendido_por"
                        value="{{ request.args.get('vendido_por', '') }}" class="form-control">
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="order_by">Ordenar por</label>
                    <select name="order_by" id="order_by" class="form-select">
                        <option value="" disabled {{ request.args.get('order_by') or 'selected' }}>Escolha uma opção
                        </option>
                        <option value="added_at" {{ 'selected' if request.args.get('order_by')=='data_hora' else '' }}>
                            Data e Hora</option>
                        <option value="sold_by" {{ 'selected' if request.args.get('order_by')=='vendido_por' else '' }}>
                            Pessoa que recebeu</option>
                        <option value="sold_to" {{ 'selected' if request.args.get('order_by')=='vendido_para' else ''
                            }}>Pessoa que comprou</option>
                        <option value="id" {{ 'selected' if request.args.get('order_by')=='id' else '' }}>ID</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="order_mode">Ordem</label>
                    <select name="order_mode" id="order_mode" class="form-select">
                        <option value="ASC" {{ 'selected' if request.args.get('order_mode')=='ASC' else '' }}>
                            Crescente</option>
                        <option value="DESC" {{ 'selected' if request.args.get('order_mode')=='DESC' else '' }}>
                            Decrescente</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="start_date">Data Inicial</label>
                    <input type="text" id="start_date" name="start_date" class="form-control datepicker"
                        value="{{ request.args.get('start_date', '')}}">
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="end_date">Data Final</label>
                    <input type="text" id="end_date" name="end_date" class="form-control datepicker"
                        value="{{ request.args.get('end_date', '')}}">
                </div>

                <div class="col-md-12 mt-3">
                    <button class="btn btn-primary" type="submit" name="action">
                        Pesquisar
                        <i class="fas fa-search"></i>
                    </button>

                    <a href="{{ url_for('filter_today_sales') }}" class="btn btn-primary ms-2">
                        Filtrar só por hoje
                        <i class="fas fa-calendar-day"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-5">
        <h5 class="mb-3">Estatísticas</h5>
        <div class="table-wrapper" style="overflow:auto;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produto</th>
                        <th>Quantidade Vendida</th>
                        <th>Preço Unitário</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product_name, product_stats in stats.items() %}
                    <tr>
                        <td>{{ product_stats.id }}</td>
                        <td>{{ product_name }}</td>
                        <td>{{ product_stats.quantity }}</td>
                        <td>R$ {{ product_stats.valor }}</td>
                        <td>R$ {{ product_stats.ammount }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">Nenhuma Estatística Encontrada</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <h3 class="mt-4">
            Resultados
            <a class="btn btn-primary tooltipped" data-bs-placement="bottom" data-bs-toggle="tooltip"
                data-bs-tooltip="Exportar para Excel" href="{{ url_for('export_to_excel_api', result_id=result_id) }}">
                Download
                <i class="fas fa-file-download"></i>
            </a>
        </h3>

        <div class="table-wrapper" style="overflow:auto; height: 60vh;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vendido Por</th>
                        <th>Vendido Para</th>
                        <th>Despachado Por</th>
                        <th>Produto</th>
                        <th>Valor de Compra</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>
                            <a href="{{ url_for('profile', user_id=result.sold_by ) }}">{{ result.sold_by_user.name
                                }}</a>
                        </td>
                        <td>
                            <a href="{{ url_for('profile', user_id=result.sold_to ) }}">{{ result.sold_to_user.name
                                }}</a>
                        </td>
                        <td>
                            {% if result.dispatched_by %}
                            <a href="{{ url_for('profile', user_id=result.dispatched_by ) }}">{{
                                result.dispatched_by_user.name }}</a>
                            {% else %}
                            Não despachado
                            {% endif %}
                        </td>
                        <td>{{ result.product.name }}</td>
                        <td>R$ {{ result.value }}</td>
                        <td>{{ result.formatted_added_at }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">Nenhum Resultado Encontrado</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination mt-3">
            {{ macros.render_pagination(pagination, request.endpoint) }}
        </div>
    </div>
</div>
{% endblock content %}