{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">{% block title %}{{ g.current_endpoint.name }}{% endblock title %}</h3>
        <form action="{{ url_for('checkout_payroll', action='view') }}" method="get">
            <div class="input-group">
                <i class="fa fa-search"></i>
                <input id="search" type="text" name="q" class="form-control" value="{{ request.args.get('q', '') }}" placeholder="Pesquisar usuários...">
            </div>
        </form>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Usuários com Saldo Devedor</h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Usuário</th>
                                <th>Saldo Devedor</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if target_users %}
                            {% for user in target_users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.username }}</td>
                                <td>R$ {{ user.balance_payroll }}</td>
                                <td>
                                    <form method="post" action="{{ url_for('checkout_payroll', action='checkout') }}">
                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                        <input type="hidden" name="{{ config['CSRF_COOKIE_NAME'] }}" value="{{ csrf_token() }}">
                                        <div class="input-group">
                                            <input type="number" step="0.01" min="0" max="{{ user.balance_payroll }}" class="form-control" name="value" required>
                                            <button type="submit" class="btn btn-success">Liquidar Saldo Devedor</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">Nenhum Resultado Encontrado</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
